.loading {
  margin: 40vh auto;
  font-size: 10vw;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of 0
     */
    0% {
      opacity: 0;
    }
    /**
     * At 30% the dot is fully visible and
     * then fades out slowly
     */
    30% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: 0;
    }
}

.loading span {
    margin-right: 1vw;
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 2 seconds
     */
    animation-duration: 2s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
  /**
   * Starts the animation of the second dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

.loading span:nth-child(4) {
    animation-delay: .6s;
}

.loading span:nth-child(5) {
    animation-delay: .8s;
}
